
<%= render 'partials/flasharticulos' %>

<h1 class="text-center"><%= titulo_formulario %></h1>

<%= form_for @articulo do |f| %>

  <div class="form-group">
    <%= f.label :titulo  %>
    <%= f.text_field :titulo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :descripcion  %>
    <%= f.text_area :descripcion, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :imagen_articulo  %>
    <%= f.file_field :imagen_articulo %>
  </div>

  <div class="form-group">
    <%= f.submit btn_formarticulos, class: "btn btn-primary" %>
  </div>

<% end %>
